<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pet Spotter">
        <meta name="author" content="Matthew Krieger">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/main.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <title>Pet Spotter - Lost Pets</title>
    </head>
    <body>
        <nav>
            <a href="#">Find a lost pet? Click Here!</a>
        </nav>
        <div class="container">
            <h1>Pet Spotter</h1>
            <div class="petSpotter">
                <div class="petSpotterWrap">
                    <div class="flexMe">
                        <% for(let i = 0; i < lostPets.length; i++){ %>
                            <div class="petSpotterPreview">
                                <table>
                                    <tr>
                                        <td class="showTitle">Image:</td>
                                        <td><img src= <%= lostPets[i]["image"] %> /></td>
                                    </tr>
                                    <tr>
                                        <td class="showTitle">Description:</td>
                                        <td class="sizeUp"><%= lostPets[i]["description"] %></td>
                                    </tr>
                                    <tr>
                                        <td class="showTitle">Location:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="showSubTitle sizeUp">Address: </td>
                                        <td class="sizeUp"><%= lostPets[i]["location"]["address"] %></td>
                                    </tr>
                                    <tr>
                                        <td class="showSubTitle sizeUp">City: </td>
                                        <td class="sizeUp"><%= lostPets[i]["location"]["city"] %></td>
                                    </tr>
                                    <tr>
                                        <td class="showSubTitle sizeUp">State: </td>
                                        <td class="sizeUp"><%= lostPets[i]["location"]["state"] %></td>
                                    </tr>
                                    <tr>
                                        <td class="showSubTitle sizeUp">Zip: </td>
                                        <td class="sizeUp"><%= lostPets[i]["location"]["zip"] %></td>
                                    </tr>
                                    <hr class="boundry">
                                </table>
                                <br>
                            </div>
                        <% }; %>
                    </div>
                </div>
            </div>
        </div>

    <div>
        <footer>
            <p>&copy 2019</p><p>Handcrafted with <3 in Connecticut, USA by Matthew A. Krieger.</p>
            <div id="footLinks">
                <a href="https://www.slideshare.net/slideshow/embed_code/key/2BwETVHFVtN5Y2" class="links" title="Go To Matthew's Resume" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/pc_de_hamburg_icon_pack/32x32/cv.png" alt="Resume"></a>

                <a href="https://github.com/AppManNYC" class="links" title="Go To Matthew's Github Page" target="_blank"><img src="https://github.githubassets.com/favicon.ico" alt="Github"></a>

                <a href="https://www.linkedin.com/in/matthewkrieger3/" class="links" title="Go To Matthew's LinkedIn Profile" target="_blank"><img src="http://www.download82.com/images/produse/iconuri/linkedin.png" alt="LinkedIn"></a>

                <a href="https://twitter.com/CSGrad2017/" class="links" title="Go To Matthew's LinkedIn Profile" target="_blank"><img src="https://addons.thunderbird.net/user-media/addon_icons/578/578614-64.png?modified=1423200033" alt="Twitter"></a>


                <a href = "mailto:MatthewKrieger.NYC@gmail.com?subject = Feedback&body = Message" title="Email Matthew Krieger" class="links"><img src="http://www.operion.com.my/main/images/icon/email.png" alt="email"></a>
            </div>
        </footer>
    </div>
    </body>
</html>
