<% include partials/header %>

        <nav>
            <a href="#">Find a lost pet? Click Here!</a>
        </nav>
        <div class="container">
            <h1>Pet Spotter</h1>
            <div class="petSpotter">
                <div class="petSpotterWrap">
                    <div class="flexMe">
                        <% for(let i = 0; i < lostPets.length; i++){ %>
                            <div class="petSpotterPreview">
                                <table>
                                    <tr>
                                        <td class="showTitle">Image:</td>
                                        <td><img src= <%= lostPets[i]["image"] %> /></td>
                                    </tr>
                                    <tr>
                                        <td class="showTitle">Description:</td>
                                        <td class="sizeUp"><%= lostPets[i]["description"] %></td>
                                    </tr>
                                    <tr>
                                        <td class="showTitle">Location:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="showSubTitle sizeUp">Address: </td>
                                        <td class="sizeUp"><%= lostPets[i]["location"]["address"] %></td>
                                    </tr>
                                    <tr>
                                        <td class="showSubTitle sizeUp">City: </td>
                                        <td class="sizeUp"><%= lostPets[i]["location"]["city"] %></td>
                                    </tr>
                                    <tr>
                                        <td class="showSubTitle sizeUp">State: </td>
                                        <td class="sizeUp"><%= lostPets[i]["location"]["state"] %></td>
                                    </tr>
                                    <tr>
                                        <td class="showSubTitle sizeUp">Zip: </td>
                                        <td class="sizeUp"><%= lostPets[i]["location"]["zip"] %></td>
                                    </tr>
                                    <hr class="boundry">
                                </table>
                                <br>
                            </div>
                        <% }; %>
                    </div>
                </div>
            </div>
        </div>
<% include partials/footer %>
