<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><strong>Pet Lookout</strong></p>
            <div class="list-group">
                <li class="list-group-item active">Details</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= lostPet.image %>">
                <div class="caption-full">
                    <h4 class="pull-right"><%=lostPet.nickName%></h4>
                    <h4><a><%= lostPet.city %>, <%= lostPet.state %></a></h4>
                    <p><%= lostPet.description %></p>
                    <p>
                        <em>Submitted By <%= lostPet.author.username %></em>
                    </p>
                    <% if(currentUser && lostPet.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs" href="/lostPets/<%= lostPet._id %>/edit">Edit</a>
                        <form id="delete-form" action="/lostPets/<%= lostPet._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/lostPets/<%= lostPet._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% lostPet.comments.forEach((comment) => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <%= comment.author.username %>
                            <span class="pull-right">4 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs"
                               href="/lostPets/<%=lostPet._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form id="delete-form" action="/lostPets/<%=lostPet._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>






